
@{
    //ViewBag.Title = "Index";
}


<h2>
    @ViewBag.Title
</h2>

<p class="text-monospace">This is a useless home page . . .  </p>

                <div class="container" id="candidateCreate">
                    <form action="" method="get" id="createCandidateForm">
                        <div class="form-group">
                            <div id="contactDetails">
                                <div class="card border-light">
                                    <div class="card-header">
                                        Contact Details
                                    </div>
                                    <div class="card-body p-0 m-0">
                                        <div class="input-group my-2" id="name">
                                            <span class="input-group-text ">First-Middle-Last name</span>
                                            <input type="text" aria-label="firstName" class="form-control"
                                                   placeholder="First Name" name="firstName">
                                            <input type="text" aria-label="middleName" class="form-control"
                                                   placeholder="Middle Name" name="middleName">
                                            <input type="text" aria-label="lastName" class="form-control"
                                                   placeholder="Last Name" name="lastName">
                                        </div>
                                        <div id="contactInfo">
                                            <div class="input-group my-2" id="email">
                                                <span class="input-group-text col-2">Email</span>
                                                <input type="email" aria-label="email" class="form-control"
                                                       placeholder="email@domain.com" name="email">
                                            </div>
                                            <div class="input-group my-2" id="mobilePhone">
                                                <span class="input-group-text col-2">Mobile Phone</span>
                                                <input type="tel" aria-label="mobilePhone" class="form-control"
                                                       placeholder=" +123456789012" name="mobilePhone">
                                            </div>
                                            <div class="input-group my-2" id="landlinePhone">
                                                <span class="input-group-text col-2">Landline</span>
                                                <input type="tel" aria-label="landlinePhone" class="form-control"
                                                       placeholder="+123456789012" name="landlinePhone">
                                            </div>
                                        </div>
                                        <div class="input-group my-2">
                                            <span class="input-group-text col-2">
                                                Address 1
                                            </span>
                                            <input type="email" aria-label="address" class="form-control"
                                                   placeholder="Enter Address here" name="address1">
                                        </div>
                                        <div class="input-group">

                                            <span class="input-group-text col-2">
                                                Address 2
                                            </span>
                                            <input type="email" aria-label="address" class="form-control"
                                                   placeholder="Enter Address here" name="address2">
                                        </div>
                                        <!-- Addresses = address1/2 state, terretory, province, town, city, postal code -->
                                        <div class="" id="address">
                                            <div class="input-group my-2">
                                                <span class="input-group-text" id="adressState">State</span>
                                                <input type="text" id="adressState" name="adressState" class="form-control">
                                                <span class="input-group-text" id="adressTerritory">Territory</span>
                                                <input type="text" id="adressTerritory" name="adressTerritory"
                                                       class="form-control">
                                                <span class="input-group-text" id="adressProvince">Province</span>
                                                <input type="text" id="adressProvince" name="adressProvince"
                                                       class="form-control">
                                            </div>
                                            <div class="input-group my-2">
                                                <span class="input-group-text " id="addressCountry">
                                                    Country of
                                                    Residense
                                                </span>
                                                <select class="form-select" name="addressCountry" id="addressCountry">
                                                    <option value="" selected>...</option>
                                                    <option value="GR">Greece</option>
                                                    <option value="USA">United States Of America</option>
                                                    <option value="DE">Germany</option>
                                                </select>
                                            </div>
                                            <div class="input-group my-2" id="">
                                                <span class="input-group-text" id="adressTown">Town</span>
                                                <input type="text" id="adressTown" name="adressTown" class="form-control">
                                                <span class="input-group-text" id="addressCity">City</span>
                                                <input type="text" id="addressCity" name="addressCity" class="form-control">
                                                <span class="input-group-text" id="adressPostalCode">Postal Code</span>
                                                <input type="number" id="adressPostalCode" name="adressPostalCode"
                                                       class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="candidateNumber">
                                <div class="input-group my-3">
                                    <span class="input-group-text col-2" id="candidateNumber">Candidate Number</span>
                                    <input type="text" class="form-control" placeholder="Write your Candidate Number Here.."
                                           aria-label="candidateNumber" aria-describedby="candidateNumber" name="candidateNumber">
                                </div>
                            </div>

                            <div class="input-group my-3" id="dateofbirth">
                                <span class="input-group-text" id="dateOfBirth">Date of Birth</span>
                                <input type="date" id="dateOfBirth" name="dateOfBirth">

                                <span class="input-group-text" id="nativeLanguage">Native Language</span>
                                <select class="form-select" name="nativeLanguage" id="nativeLanguage">
                                    <option value="" selected>...</option>
                                    <option value="Greek">Greek</option>
                                    <option value="English">English</option>
                                    <option value="Souaxili">Souaxili</option>
                                </select>

                                <span class="input-group-text" id="gender">Gender</span>
                                <select class="form-select" name="" id="gender">
                                    <option value="" selected>...</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                            <hr>

                            <div id="photoID">
                                <div class="card border-light">
                                    <div class="card-header">
                                        Photo ID details
                                    </div>

                                    <div class="card-body p-0">
                                        <div class="input-group my-2" id="photoIdType">
                                            <span class="input-group-text col-2">Type</span>
                                            <div class="m-auto">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="photoIdType"
                                                           id="nationalCard" value="nationalCard">
                                                    <label class="form-check-label" for="national_card">National Card</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="photoIdType"
                                                           id="passport" value="passport">
                                                    <label class="form-check-label" for="passport">Passport</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group my-2" id="photoIdNumber">
                                            <span class="input-group-text col-2" id="photoIdNumber">Photo ID Number</span>
                                            <input type="text" class="form-control" placeholder="Write Here.."
                                                   aria-label="photoIdNumber" aria-describedby="photoIdNumber"
                                                   name="photoIdNumber">
                                        </div>

                                        <div class="input-group my-2" id="photoIdIssueDate">
                                            <span class="input-group-text col-2" id="photoIdIssueDate">ID Issue Date</span>
                                            <input type="date" id="photoIdIssueDate" name="photoIdIssueDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                <button class="btn btn-success" type="submit" form="createCandidateForm" onclick="saveCandidate(event)">Create Candidate</button>
                </div>

