
@{
    //ViewBag.Title = "Index";
}


<h2>
    @ViewBag.Title
</h2>

<p class="text-monospace">The Datebase for this project  and the data is generated automatically !
    Do check the Admin's Menu first, there is a small chance the random generator made every examination a fail..
    in which case the print Funtionality will not be usable.
    If that is the case , delete and re-run the project you will probably not be soo unlucky and someone will have passed </p>


